* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: white;
    background-color: white;
    font-family: "PlainMedium", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    font-kerning: normal;
}


	.ui-rangeSlider-container {
		width: 100%;
		}

/*.ordering button {
	font-family: "PlainMedium", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    font-kerning: normal;
  vertical-align: middle;
position: relative;
display: inline-block;
background: transparent;
height: 40px;
font-size: 13px;
line-height: 40px;
border: 0;
padding: 0 0.8em;
white-space: nowrap;
transition: background-color 200ms linear,color 200ms linear;
text-align: center;
text-transform: none;	
color: #2727a4;
outline: 0;
text-decoration: none;
font-size: 16px;
letter-spacing: 0.02em;

}

.ordering button:hover {
  background: rgb(48, 63, 160);
  text-decoration: none;
  color: white;

}*/
/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  border-radius: 0;
  background-color: #FFF;
  border: 0;
  color: #2727a4;
  padding: 0 0.8em;
  white-space: nowrap;
  font-family: "PlainMedium", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    font-kerning: normal;
  vertical-align: middle;
  height: 40px;
font-size: 16px;
line-height: 40px;
letter-spacing: 0.02em;
transition: background-color 200ms linear,color 200ms linear;
}

.button-group .button:hover {
  background-color: rgb(48, 63, 160);
  text-decoration: none;
  color: white;
}

.button:active,
.button.is-checked {
  background-color: #FFF;
}

.button.is-checked {
  color: white;
  background-color: rgb(48, 63, 160);

}

.button:active {
  background-color: #FFF;
}

.ordering button:focus {outline:0;}

.sortby {
	color: #979797;
vertical-align: middle;
position: relative;
display: inline-block;
background: transparent;
height: 40px;
line-height: 40px;
border: 0;
padding: 0 0.8em;
margin-left: -0.8em;
white-space: nowrap;
text-transform: none;
outline: 0;
text-decoration: none;
font-size: 16px;
letter-spacing: 0.02em;

	}
	
	.overflow-scrolling {
padding-top: 10px;	
	}

#bubble-chart {
    font-size: 12px;
    letter-spacing: 0.02em;
	width: 682px;
	height: 682px;
	    }

#tech-links {
    position: relative;
    width: 425px;
	margin-left: auto;
	margin-right: auto;
    color: #231f20;
    z-index: 5;
}

.report-headings {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.05px;
	padding-top: 20px;
	padding-bottom: 20px;
	float: right;
	width: 400px;
	height: 300px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.report-text{
    font-size: 16px;
	color: #868686;
    line-height: 1.2;
    letter-spacing: 0.05px;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

.perspectiveid {
    -webkit-transform: matrix3d(0);
}

.content {
    color: #231f20;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#termsearch-input {
    width: 100%;
    font-size: 2em;
    border: 0;
	outline: 0;
    font-family: "PlainMedium", Helvetica, Arial, sans-serif;
    color: #dcdcdc;
    letter-spacing: 0.05px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: table;
	padding: 0;
	margin: 0;
	
}

::-webkit-input-placeholder {
		color: #ccc;
	}


[placeholder]:focus::-webkit-input-placeholder {
		transition: opacity 0.5s 0.5s ease; 
  opacity: 0;

	}

#termsearch-input:focus {
    outline: none;
}

.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
	display: block;
	width: 15px;
	height: 15px;
}

.actual-x {
	display: block;
	width: 21px;
	height: 21px;
	position: absolute;
	background: url('img/small-x.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index:1;
	right: 35px;
	top: 41px;
	bottom: 0;
	margin: auto;
	cursor: pointer;
	outline: 0;
	padding: 0;
	border: 0;
	}

.search-box:not(:valid) ~ .close-icon {
	display: none;
	outline: 0;
}

.search-box {
	width: 100%;
	border: 0;
  outline: 0;
}
.search-box:focus {
	box-shadow: 0;
	border: 0;
}

::-webkit-input-placeholder {
    display: table-cell;
    vertical-align: middle;
}

#searches {
    width: 1460px;
	    margin-top: 2.125em;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

#searches:after {
	content: ' ';
  display: block;
  clear: both;
	}

.search {
    width: 25%;
    height: 80px;
    float: left;
    padding: 0px;
    margin: 0px;
	-webkit-border-bottom-right-radius: 9px;
    border-top-bottom-right-radius: 9px;
    overflow:hidden;

}

 #mainpage {
		  overflow-y: scroll;
		  overflow-x: hidden;
		  height: 100%;
		  width: 100%;
		  border: 0;
		  padding: 0;
		  position: fixed;
		  }
		  
		  #mainpage2 {
		  overflow: hidden;
		  height: 100%;
		  width: 100%;
		  	  border: 0;
		  padding: 0;
		  position: fixed;
		  }
		  
		  .fullview {
		  overflow: hidden;
		  }
		  #alert {
			  color: #231f20;
			  border-top: 2px solid #dcdcdc;
			  margin-left:auto;
			  margin-right: auto;
			  text-align: center;
			  font-size: 38px;
			      padding-top: 65px;
	padding-bottom: 306px;
    background: white;
    display: none;
	max-width: 1460px;

		  }
		  
		  .results-personal a {
			  font-size: 16px;
			  padding-right: 30px;
			  background-position: 98.7% 6px;
			  
			  }
			  
			  .results-personal a:hover {
				  background:url('img/results-expand.png');
				  background-repeat: no-repeat;
				  background-position: 100% 6px;
                  transition: background 600ms cubic-bezier(0.25, 0.25, 0.01, 1);
			  
			  }
			  
			   .small-body a{
				 width: 200px;
				 height: 60px;
				 padding-right: 20px;
				 background: transparent;
				 background-position: 98% 2px;
			  
			  }
			  
			    .small-body a:hover {
				  background:url('img/results-expand.png');
				  width: 200px;
				  background-repeat: no-repeat;
				  background-position: 100% 2px;
                  transition: background 600ms cubic-bezier(0.25, 0.25, 0.01, 1);

			  }
			  
			  
			  #mainpage2 [data-effeckt-page].effeckt-page-active {
				  padding-left:6.55% !important;
				  padding-right:6.55% !important;
				  padding-top: 104px;
				  }
				  
				  
.search .tileview {
    width: 100%;
    height: 100%;
    background-color: inherit;
    padding-left: 31px;
	padding-right: 16px;
    display: table;
    font-size: 16px;
    letter-spacing: 0.02em;
	  -webkit-border-bottom-right-radius: 9px;
    border-bottom-right-radius: 9px;
	 /*-webkit-transition: background 0.39s ease;*/
   transition: background-color 900ms cubic-bezier(0.25, 0.25, 0.01, 1);
}
.ordering {
	display: inline-block;
	}

.search .tileview:hover {
    background-color: rgba(67,144,217,0.2);
	transition: background-color 900ms cubic-bezier(0.25, 0.25, 0.01, 1);
}

.search .search-details {
    background-color: inherit;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

.search .search-terms {
    display: table-cell;
    font-size: 16px;
    line-height: 1.2;
    vertical-align: middle;
}

.search .search-terms:hover {
    padding-left: 16px;
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.475);
}

.search-details {
    padding-left: 8.6%;
    padding-right: 8.6%;
    padding-top: 84px;
}

.search-details .leftfull {
    width: 38.7%;
    float: left;
	line-height: 1.4;
}

.leftfull .search-terms {
    font-size: 3.5em;
    line-height: 49px;
    width: 100%;
    height: 100%;
    padding-bottom: 24px;
    padding-top: 16px;
    transition: none;
    -webkit-transition: none;
}

.search-details .search-terms:hover {
    padding: 0;
    padding-bottom: 24px;
    padding-top: 16px;
    -webkit-transition: none;
    transition: none;
}

.results-personal {
    width: 52%;
    float: right;
    font-size: 16px;
	letter-spacing: 0.01em;
    line-height: 28px;
	max-height: 670px;
	overflow-y: auto;
	min-width: 500px;
}

.your-results{
	display: block;
	float: none;
	position: relative;
	margin-bottom: 13px;
	width: 52%;
float: right;
font-size: 16px;
letter-spacing: 0.01em;
line-height: 28px;
overflow-y: auto;
min-width: 500px;
	}
	
.result{
	display: block;
	float: none;
	width: 100%;
	position: relative;
	margin-bottom: 13px;
	}

.results-personal a {
    color: #fff;
	text-decoration: none;
}

.rank {
    width: 46px;
	height: 46px;
	padding-top: 5px;
	margin-right: 4px;
	font-size: 1.2em;
	display: inline-block;
	text-align:center;
	border-radius: 2px;
	border: 1px solid rgba(91,175,254,0.2);
}

.date {
    font-size: 16px;
	letter-spacing: 0.01em;
width: 100%;
height: 100%;
padding-bottom: 24px;
padding-top: 16px;
}

.percentage {
    width: 35.7%;
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: 3.5em;
    bottom: 11.9%;
	line-height: 49px;
}


.break-personalised {
    font-size: 16px;
    text-transform: uppercase;
	letter-spacing: 0.01em;
	line-height: 49px;
}

.break-search {
    padding: 0;
    margin: 0;
    font-size: 16px;
	letter-spacing: 0.01em;
}

.flip {
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    transform: rotateY(180deg);
}

.dateslider-cont {
	width: 1300px;
	height: 50px;
	float: right;
	margin-right: 13px;
	}

#dateslider {
    max-width: 1400px;
	
}

.filterby {
   display: inline-block;
}


.collapser {
    position: fixed;
    top: 52px;
    right: 52px;
	outline: 0;
    z-index:999;
}


.collapser {
	display: block;
	width: 24px;
	height: 24px;
	text-decoration: none;
	background: url('img/x.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.5;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	cursor: pointer;
	}
	
	.collapser:hover {
	opacity: 1;
	background: url('img/x.png');
	background-repeat: no-repeat;
	cursor: pointer;
	}
	
	.ui_logo {
	display: inline-block;
	width: 14px;
	height: 43px;
	text-decoration: none;
	background: url('img/small-web-icon.png');
	background-repeat: no-repeat;
	background-position: 0px 12px;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	cursor: pointer;
	opacity: 0.2;
	}
	
		.ui_logo:hover {
		opacity: 1;

	}




.indicator-promoted {
    background-color: #00AD82;
	background-image: url('img/arrow-up.png');
	background-repeat: no-repeat;
    background-position: 6px 5px; 
}

.indicator-demoted {
    background-color: #fe3f33;
	background-image: url('img/arrow-down.png');
	background-repeat: no-repeat;
    background-position: 6px 5px; 
	}

.indicator-stable {
    background-color: rgba(91,175,254,0.2);
	background-image: url('img/arrow-stable.png');
	background-repeat: no-repeat;
    background-position: 5px 6px; 
}

/*.result div {
    display: inline-block;
	vertical-align:top;
}*/
.anon-rank {
	height: 21px;
	width: 21px;
	position: relative;
	vertical-align:top;
	text-align: center;
	border-radius: 1px;
	background-color: rgba(91,175,254,0.2);
	line-height: 20px;
	font-size: 12px;
	padding: 0;

	
	}
	
	.indicator-unique {
		background-color: rgba(91,175,254,0.2);
			background-image: url('img/anon-rank.png');
	background-repeat: no-repeat;
    background-position: 5px 6px;
		}
	
	.indicator {
	width: 21px;
	height: 21px;
	margin-top: 4px;
	position: relative;
	 -webkit-border-radius: 1px;
	border-radius: 1px;
	position: relative;
	text-align: center;
	line-height: 20px;

}

	
	
	.stupid {
	width: 21px;
	height: 42px;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	margin-right: 16px;
	}

	.results-personal a{
		display:inline-block;
		}


#topbar {
    width: 100%;
    border-top: 0;
    z-index: 5;
    position: -webkit-sticky;
    color: #231f20;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}


.folder {
    background-color: #fff;
    padding-top: 38px;
	max-width: 1460px;
	margin-left: auto;
	margin-right: auto;
	/*-moz-box-shadow: 1px 3px 10px rgba(0,0,0,0.3);
-webkit-box-shadow: 1px 3px 10px rgba(0,0,0,0.3);
box-shadow: 1px 3px 10px rgba(0,0,0,0.3);*/}


#footer {
	margin-left: 0;
width: 100%;
height: 180px;
text-align: center;
color: #b4b4b4;
bottom: 0;
line-height: 22px;
background-color: transparent;
padding: 60px 0 53px 0;
/*border-top: 1px solid #ededed;*/
margin-bottom: 30px;
font-size: 14px;
letter-spacing: 0.02em;

}

#footer a {
text-decoration: none;
color: inherit;
padding: 0px 0.8em;
	}
	
	#footer a:hover {
text-decoration: underline;
	}


 .legal-mark {
	width: 50%;
padding: 0 1%;
margin-left: auto;
margin-right: auto;
margin-top: 2em;
padding-bottom: 70px;
line-height: 22px;
font-size: 14px;
letter-spacing: 0.02em;
color: #b4b4b4;
text-align:center;


	}
#top-nav {
    color: #231f20;
    height: 110px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
-webkit-transition: border-color 0.3s;
-moz-transition: border-color 0.3s;
-ms-transition: border-color 0.3s;
-o-transition: border-color 0.3s;
transition: border-color 0.3s;
font-size: 14px;
color: #5a5a5a;
text-decoration: none;
padding-top:40px;
border-bottom: 1px solid #dcdcdc;
}
.top-nav-scrolled {
	
    	 -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
box-shadow: 0 1px 4px rgba(0,0,0,0.1);

}


.inner-middle {
	max-width: 1460px;
	margin-right: auto;
	margin-left: auto;
    height: 50px;
	vertical-align: middle;
	font-size: 0.89em;
	letter-spacing: 0.01em;
	  -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	   text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    font-kerning: normal;
	padding-top: 12px;
	line-height: 18px;
}

.inner-middle a {
	text-decoration: none;
	color: #5a5a5a;
}

.inner-middle-scrolled {
    border: 0;
    }

.inner {
	max-width: 1460px;
    margin-right: auto;
    margin-left: auto;
}

.persanalysed-text {
			  width:200px;
			  height:24px;
			  display: table-cell;
vertical-align: middle;
font-size: 16px;
letter-spacing: 0.02em;
color: #231f20;
display: none;
			  }
		  
		  .left-menu-item,
		  .left-menu-item a {
			  background: url('img/persanalysed.png');
			  background-repeat: no-repeat;
			  background-position: 0 0;
			  width: 14px;
			  height: 22px;
			  display: inline-block;
			  margin-right: 25px;
			  }
			  
			   #left-menu {
				  float: left;
				  width: 200px;
				  display: table;
				   line-height: 2px;
				  }
			  #right-menu {
				  float: right;
				  width: 400px;
				  text-align: right;
				  line-height: 23px;
				  }
				  .right-menu-item {
				  display: inline-block;
				  width: 22px;
				  height: 22px;
				  padding-left:22px;
				  padding-right: 22px; 
				  }
				  
			  .about-icon {
			  background: url('img/about.png');
			  background-repeat: no-repeat;
			  background-position: 0 0;
			  width: 22px;
			  height: 22px;
			  display: inline-block;
			  opacity: 0.2;
			  -webkit-transition: opacity 0.5s;
			  }
			  
			  .report-icon {
			  background: url('img/profile.png');
			  background-repeat: no-repeat;
			  background-position: 0 0;
			  width: 22px;
			  height: 22px;
			  display: inline-block;
			  margin-top: -1px;
			  opacity: 0.2;
			  -webkit-transition: opacity 0.5s;
			  }
			  
			   #info-icon {
			  background: url('img/info.png');
			  background-repeat: no-repeat;
			  background-position: 0 0;
			  width: 22px;
			  height: 22px;
			  display: inline-block;
			  border: 0;
			  margin:0;
			  outline: 0;
			  padding: 0;
			  opacity: 0.2;
			  -webkit-transition: opacity 0.5s;
			  }
			  
			   .options-icon {
			  background: url('img/settings.png');
			  background-repeat: no-repeat;
			  background-position: 0 0;
			  width: 22px;
			  height: 22px;
			  display: inline-block;
			  border: 0;
			  margin:0;
			  opacity: 0.2;
			  -webkit-transition: opacity 0.5s;
			  }
			  
			    .options-icon:hover,
				#info-icon:hover,
				.report-icon:hover,
				.about-icon:hover {
			  opacity: 1;
			  }
			  
			  .menu-item-page {
				  opacity: 1;
				  }
				  
	#status {
		position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #fff;
z-index: 20006;
		}			  

.accordion {
	max-width: 1460px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.accordion__title {
    padding-right: 0.8em;
    float: left;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #e6e6e6;
   /* transition: background-color 900ms cubic-bezier(0.25, 0.25, 0.01, 1);
	transition: 1s ease;*/}

.report__accordion__title {
    padding-right: 0.8em;
    float: left;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: -0.01em;
    color: #231f20;
    
}

.no-js .accordion__title {
    float: none;
    height: auto;
    cursor: auto;
    margin: 0;
    padding: 0 2em;
}

.accordion__content {
    float: right;
	height: 56px;
    width: 100%;
    margin: 23px 0 0 -100%;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 1.5em;
    -webkit-transition: background 900ms ease;
}

/*.no-js .accordion__content {
    float: left;
    margin: 0;
}*/
.accordion__title.active {
    color: #231f20;
}

.accordion__title:hover {
    color: #231f20;
	opacity: 1;
  transition: 1s;
}

/*.no-js .accordion__title:hover {
    background-color: white;
    color: #e6e6e6;
}
*/
/*.accordion__title.active {
  border-top-color:lime;
  
}*/
@media (max-width: 1638px) {
	#searches {
		width: 1460px;
		}
		
		.search {
		width: 377px;
		}
}


@media (max-width: 1625px) {
	#searches {
		width: 1460px;
		}
		
		.search {
		width: 370px;
		}
}

@media (max-width: 1600px) {
	#searches {
		width: 1456px;
		}
}

@media (max-width: 1561px) {
	#searches {
		width: 1420px;
		}
}

@media (max-width: 1510px) {
	#searches {
		width: 1372px;
		}
}

@media (max-width: 1460px) {
	#searches {
		width: 1328px;
		}
}

@media (max-width: 1444px) {
	#searches {
		width: 1316px;
		}
}


@media (max-width: 1406px) {
	#searches {
		width: 1276px;
		}
}

@media (max-width: 1381px) {
	#searches {
		width: 1256px;
		}
}

@media (max-width: 1353px) {
	#searches {
		width: 1228px;
		}
}

@media (max-width: 1348px) {
	#searches {
		width: 1224px;
		}
}

@media (max-width: 1335px) {
	#searches {
		width: 1216px;
		}
}

@media (max-width: 1318px) {
	#mainpage2 [data-effeckt-page].effeckt-page-active {
		padding-right: 4.55% !important;
		}
		
		.results-personal {
			width: 54%;
			}
}

@media (max-width: : 1013px) {
	#mainpage2 [data-effeckt-page].effeckt-page-active {
		padding-left: 4.55% !important;
		padding-left: 2.55% !important;
		}
		
		.results-personal {
			width: 58%;
			}
}

@media (max-width: 1289px) {
	#searches {
		width: 1168px;
		}
}

@media (max-width: 1298px) {
	#searches {
		width: 1180px;
		}
}

@media (max-width: 1267px) {
	#searches {
		width: 1152px;
		}
}

@media (max-width: 1222px) {
	#searches {
		width: 1112px;
		}
	
}






@media (max-width: 48em) {
  
    .accordion {
        border: none;
    }

    .accordion__title,
  .accordion__content {
        float: none;
        margin: 0;
    }

    .accordion__title:first-child {
        border: none;
    }

    .accordion__title.active {
        border-top-color: #eee;
    }

    .accordion__title.active, .accordion__title:hover {
        background: none;
    }

    .accordion__title:before {
        content: "+";
        text-align: center;
        width: 2em;
        display: inline-block;
    }

    .accordion__title.active:before {
        content: "-";
    }

    .overflow-scrolling {
        overflow-y: none;
        height: 6em;
        padding: 1em 1em 0 1em;
  /* Warning: momemtum scrolling seems buggy on iOS 7  */
       /* -webkit-overflow-scrolling: touch;*/   }

    .accordion__content {
        position: relative;
        overflow: hidden;
        padding: 0;
		margin-bottom: 1em;
    }

    .no-js .accordion__content {
        padding: 1em;
        overflow: auto;
        display: block;
    }

    .accordion__content:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 50px;
        content: '';
    }
}

.table-row {
    display: table-row;
}
.table-cell{
    display: table-cell;
}
.report-line {
    width: 100%;
    display: table;
    height:15%;
    padding-bottom: 12px;
    padding-top: 12px;
}

.search {
	webkit-transform-origin: 50% 0 0;
-ms-transform-origin: 50% 0 0;
	
transform-origin: 50% 0 0;
-webkit-animation-name:fadeInUpBig;
animation-name: fadeInUpBig;

-webkit-animation-fill-mode:both;
-ms-animation-fill-mode:both;
animation-fill-mode: both;
webkit-transform-style:preserve-3d;
	

-webkit-animation-delay:.2s;
animation-delay: .2s;
-webkit-transition-property:*;
transition-property: *;
	
-webkit-animation-duration:1400ms;
animation-duration: 1400ms;
	
-webkit-animation-timing-function: cubic-bezier(0.645,.045,.18,1);
animation-timing-function:cubic-bezier(0.645,.045,.18,1);

	}

.masonry {
max-width: 1532px;
width: 100%;
margin-left: auto;
margin-right: auto;

	}
	
.masonry:after {
  content: '';
  display: block;
  clear: both;
}


.masonry .grid-sizer {
  width:  2%;
}

.masonry .item{
  width:  30%;
  padding: 0px 16px;
    height: 360px;
  float: left;
  color: #231f20;
  border-top: 1px solid #eee;
}



.item.w2 { width:  40%; }

.item.h2 { height: 300px; }
.item.h3 { height: 330px; }
.item.h4 { height: 580px; }


.item.gigante {
  width: 180px;
  height: 180px;
}



svg {
    width:100%
}

.chart-container{
    height:85%;
    width:100%;
}
.chartbox {
    height: 100%;
}

body.label{
    background-color: rgba(0,0,0,0);
    display: table;
}

.innerlabel{
    display: table-cell;
    color:white;
    background-color: rgba(0,0,0,0);
    text-align: center;
    vertical-align: middle;
    padding:5px;
	font-size: 14px;
}


.search-details{
    position: fixed ! important;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
}

.search.effect-4 {
    perspective: 1300px;
}
 
.search.effect-4 li {
    transform-style: preserve-3d;
}
 
.search.effect-4 li.animate {
    transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    animation: fallPerspective .8s ease-in-out forwards;
}

/* 1. Ensure this sits above everything when visible */
.modal {
    position: absolute;
    z-index: 10000; /* 1 */
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.modal-body p {
    margin-bottom: 24px;
	display: inline-block;
	font-size: 16px;
	line-height: 21px;
letter-spacing: 0.01em;
}

.modal.is-visible {
    visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.1);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 6em;
  left: 50%;
  width: 502px;
  margin-left: -16em;
  background-color: rgb(48, 63, 160);
  color: white;
  border-radius: 2px;
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}


.modal-content {
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 25px;
  text-align: center;
}

.modal-header {
	padding-top: 25px;
  position: relative;
   background-color: rgb(48, 63, 160);
   color: white;
   text-align: center;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  color: #aaa;
  background: none;
  border: 0;
  outline: 0;
}

.modal-close:hover {
  color: #777;
}

 .little-text {
         font-size: 12px;
         color: #464646;
         letter-spacing: 0.01em;
         text-align:right;
         width: 100px;
         float: right;
         margin-top: 5px;
  }

.modal-heading {
  font-size: 43px;
  margin-bottom: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}

.gradient {
	width: 365px;
	height: 30px;
	background: linear-gradient(to right, #4390d9 0%, #3c7ad5 20%, #3764d0 40%, #324eb3 60%, #303fa0 80%, #2f318e 100%);
	margin-left: auto;
	margin-right: auto;
	}
 
@keyframes fallPerspective {
    100% { transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}
