* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: white;
    background-color: white;
    font-family: "PlainMedium", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    font-kerning: normal;
}

.ordering button {
	font-family: "PlainMedium", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    font-kerning: normal;
  vertical-align: middle;
position: relative;
min-width: 4.375rem;
height: 1.875rem;
background-color: white;
border-color: #cbcbcb;
color: #cbcbcb;
overflow: hidden;
border: 1px solid;
font-size: 16px;
line-height: 1;
text-align: center;
display: inline-block;
margin: 0;
background: transparent;	
border-radius: 2px;	
text-transform: none;	
outline: 0;

}

.ordering button:hover {
  background: #ffccff;
  text-decoration: none;

}

.ordering button:focus {outline:0;}

.ordering {
	padding-top: 10px;
	}
.overflow-scrolling span {
	color: #979797;
	margin-right: 7px;
	}

#bubble-chart {
    font-size: 12px;
    letter-spacing: 0.02em;
    }

#tech-links {
    border-radius: 3px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    bottom: 0px;
    width: 80%;
    left: 10%;
    text-align: center;
    color: white;
    z-index: 5;
}

.report-headings {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.05px;
	padding-top: 20px;
	padding-bottom: 20px;
	float: right;
	width: 400px;
	height: 300px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.report-text{
    font-size: 16px;
	color: #868686;
    line-height: 1.2;
    letter-spacing: 0.05px;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

#tech-links a {
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}

.perspectiveid {
    -webkit-transform: matrix3d(0);
}

.content {
    color: black;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#termsearch-input {
    width: 100%;
    font-size: 2em;
    border: 0;
	outline: 0;
    font-family: "PlainMedium", Helvetica, Arial, sans-serif;
    color: #dcdcdc;
    letter-spacing: 0.05px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: table;
    padding-top: 0px;
}

#termsearch-input:focus {
    outline: none;
}

.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
	display: none;
	outline: 0;
}

.search-box {
	width: 100%;
	border: 0;
  outline: 0;
}
.search-box:focus {
	box-shadow: 0;
	border: 0;
}

::-webkit-input-placeholder {
    display: table-cell;
    vertical-align: middle;
}

#searches {
    width: 1460px;
	    margin-top: 2.125em;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

#searches:after {
	content: ' ';
  display: block;
  clear: both;
	}

.search {
    width: 25%;
    height: 80px;
    float: left;
    padding: 0px;
    margin: 0px;
	-webkit-border-bottom-right-radius: 9px;
    border-top-bottom-right-radius: 9px;

}

.search .tileview {
    width: 100%;
    height: 100%;
    background-color: inherit;
    padding-left: 31px;
	padding-right: 16px;
    display: table;
    font-size: 16px;
    letter-spacing: 0.02em;
	  -webkit-border-bottom-right-radius: 9px;
    border-bottom-right-radius: 9px;
	 /*-webkit-transition: background 0.39s ease;*/
    -webkit-transition: background-color 900ms ease-out,width 500ms cubic-bezier(0.25, 0.25, 0.01, 1);
}
.ordering {
	display: inline-block;
	}

.search .tileview:hover {
    background-color: rgba(67,144,217,0.2);
}

.search .search-details {
    background-color: inherit;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

.search .search-terms {
    display: table-cell;
    font-size: 16px;
    line-height: 1.2;
    vertical-align: middle;
}

.search .search-terms:hover {
    padding-left: 16px;
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.475);
}

.search-details {
    padding-left: 8.6%;
    padding-right: 8.6%;
    padding-top: 84px;
}

.search-details .leftfull {
    width: 38.7%;
    float: left;
    height: 100%;
	line-height: 1.4;
}

.leftfull .search-terms {
    font-size: 3.5em;
    line-height: 49px;
    width: 100%;
    height: 100%;
    padding-bottom: 24px;
    padding-top: 16px;
    transition: none;
    -webkit-transition: none;
}

.search-details .search-terms:hover {
    padding: 0;
    padding-bottom: 24px;
    padding-top: 16px;
    -webkit-transition: none;
    transition: none;
}

.results-personal {
    width: 52%;
    float: right;
    font-size: 16px;
    line-height: 28px;
	max-height: 670px;
	overflow-y: auto;
	min-width: 500px;
}

.result{
	display: block;
	float: none;
	width: 100%;
	position: relative;
	margin-bottom: 13px;
	}

.results-personal a {
    color: #fff;
	text-decoration: none;
}

.rank {
    width: 42px;
	height: 42px;
	padding-top: 5px;
	margin-right: 4px;
	font-size: 1.2em;
	display: inline-block;
	text-align:center;
	border-radius: 2px;
	border: 1px solid rgba(91,175,254,0.2);
}

.date {
    width: 100%;
    padding: 0;
}

.percentage {
    width: 35.7%;
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: 3.5em;
    bottom: 11.8%;
}


.break-personalised {
    font-size: 16px;
    padding-top: 6px;
    text-transform: uppercase;
}

.break-search {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.flip {
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    transform: rotateY(180deg);
}

.dateslider {
    max-width: 1460px;
	margin-right: auto;
	margin-left: auto;
}

.collapser {
    position: fixed;
    top: 52px;
    right: 52px;
	outline: 0;
    z-index:999;
}


.collapser {
	display: block;
	width: 24px;
	height: 24px;
	text-decoration: none;
	background: url('img/x.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.5;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	cursor: pointer;
	}
	
	.collapser:hover {
	opacity: 1;
	background: url('img/x.png');
	background-repeat: no-repeat;
	cursor: pointer;
	}
	
	.ui_logo {
	display: inline-block;
	width: 14px;
	height: 43px;
	text-decoration: none;
	background: url('img/small-web-icon.png');
	background-repeat: no-repeat;
	background-position: 0px 12px;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	cursor: pointer;
	opacity: 0.2;
	}
	
		.ui_logo:hover {
		opacity: 1;

	}




.indicator-promoted {
    background-color: green;
	background-image: url('img/arrow-up.png');
	background-repeat: no-repeat;
    background-position: 6px 5px; 
}

.indicator-demoted {
    background-color: red;
	background-image: url('img/arrow-down.png');
	background-repeat: no-repeat;
    background-position: 6px 5px; 
	}

.indicator-stable {
    background-color: rgba(91,175,254,0.2);
	background-image: url('img/arrow-stable.png');
	background-repeat: no-repeat;
    background-position: 5px 6px; 
}

/*.result div {
    display: inline-block;
	vertical-align:top;
}*/
.anon-rank {
	height: 21px;
	width: 21px;
	position: relative;
	vertical-align:top;
	text-align: center;
	border-radius: 1px;
	background-color: rgba(91,175,254,0.2);
	line-height: 20px;
	font-size: 12px;
	padding: 0;
	
	}
	
	.indicator {
	width: 21px;
	height: 21px;
	margin-top: 4px;
	position: relative;
	 -webkit-border-radius: 1px;
	border-radius: 1px;
	position: relative;
	text-align: center;
	line-height: 20px;

}

	
	
	.stupid {
	width: 21px;
	height: 42px;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	margin-right: 16px;
	}

	.results-personal a{
		display:inline-block;
		}


#topbar {
    width: 100%;
    border-top: 0;
    z-index: 5;
    position: -webkit-sticky;
    color: #231f20;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}


.folder {
    background-color: #fff;
    padding-top: 68px;
    transition: transform 0.5s;
	/*-moz-box-shadow: 1px 3px 10px rgba(0,0,0,0.3);
-webkit-box-shadow: 1px 3px 10px rgba(0,0,0,0.3);
box-shadow: 1px 3px 10px rgba(0,0,0,0.3);*/}


#footer {
	margin-left: 0;
width: 100%;
position: static;
height: 180px;
padding-top: 4em;
text-align: center;
color: #b4b4b4;
bottom: 0;
line-height: 22px;

}


#footer .legal-mark {
	width: 50%;
border-left-width: 0;
padding: 0 1%;
margin-left: auto;
margin-right: auto;
margin-top: 2em;
padding-bottom: 70px;
line-height: 22px;

	}
#top-nav {
    background-color: #eee;
    color: #231f20;
    height: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
	border-bottom: 1px solid #eee;
-webkit-transition: border-color 0.3s;
-moz-transition: border-color 0.3s;
-ms-transition: border-color 0.3s;
-o-transition: border-color 0.3s;
transition: border-color 0.3s;
font-size: 14px;
color: #5a5a5a;
text-decoration: none;
}
.top-nav-scrolled {
	
    	 -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
box-shadow: 0 1px 4px rgba(0,0,0,0.1);

}


.inner-middle {
	max-width: 1460px;
	margin-right: auto;
	margin-left: auto;
    height: 50px;
	vertical-align: middle;
	font-size: 0.89em;
	letter-spacing: 0.01em;
	  -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	   text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    font-kerning: normal;
	padding: 14px 10px;
	line-height: 18px;
}

.inner-middle a {
	text-decoration: none;
	color: #5a5a5a;
}

.inner-middle-scrolled {
    border: 0;
    }

.inner {
	max-width: 1460px;
    margin-right: auto;
    margin-left: auto;
}

.accordion {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.accordion__title {
    padding-right: 0.8em;
    float: left;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #e6e6e6;
    transition: background-color 900ms cubic-bezier(0.25, 0.25, 0.01, 1);
	transition: 1s ease;
}

.report__accordion__title {
    padding-right: 0.8em;
    float: left;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: -0.01em;
    color: #231f20;
    
}

.no-js .accordion__title {
    float: none;
    height: auto;
    cursor: auto;
    margin: 0;
    padding: 0 2em;
}

.accordion__content {
    float: right;
	height: 56px;
    width: 100%;
    margin: 23px 0 0 -100%;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 1.5em;
    -webkit-transition: background 900ms ease;
}

.no-js .accordion__content {
    float: left;
    margin: 0;
}

.accordion__title.active {
    color: #231f20;
}

.accordion__title:hover {
    color: #231f20;
	opacity: 1;
  transition: 1s;
}

.no-js .accordion__title:hover {
    background-color: white;
    color: #e6e6e6;
}

/*.accordion__title.active {
  border-top-color:lime;
  
}*/
@media (max-width: 1638px) {
	#searches {
		width: 1460px;
		}
		
		.search {
		width: 377px;
		}
}


@media (max-width: 1625px) {
	#searches {
		width: 1460px;
		}
		
		.search {
		width: 370px;
		}
}

@media (max-width: 1600px) {
	#searches {
		width: 1456px;
		}
}

@media (max-width: 1561px) {
	#searches {
		width: 1420px;
		}
}

@media (max-width: 1510px) {
	#searches {
		width: 1372px;
		}
}

@media (max-width: 1460px) {
	#searches {
		width: 1328px;
		}
}

@media (max-width: 1444px) {
	#searches {
		width: 1316px;
		}
}


@media (max-width: 1406px) {
	#searches {
		width: 1276px;
		}
}

@media (max-width: 1381px) {
	#searches {
		width: 1256px;
		}
}

@media (max-width: 1353px) {
	#searches {
		width: 1228px;
		}
}

@media (max-width: 1348px) {
	#searches {
		width: 1224px;
		}
}

@media (max-width: 1335px) {
	#searches {
		width: 1216px;
		}
}

@media (max-width: 1289px) {
	#searches {
		width: 1168px;
		}
}

@media (max-width: 1298px) {
	#searches {
		width: 1180px;
		}
}

@media (max-width: 1267px) {
	#searches {
		width: 1152px;
		}
}

@media (max-width: 1222px) {
	#searches {
		width: 1112px;
		}
	
}






@media (max-width: 48em) {
  
    .accordion {
        border: none;
    }

    .accordion__title,
  .accordion__content {
        float: none;
        margin: 0;
    }

    .accordion__title:first-child {
        border: none;
    }

    .accordion__title.active {
        border-top-color: #eee;
    }

    .accordion__title.active, .accordion__title:hover {
        background: none;
    }

    .accordion__title:before {
        content: "+";
        text-align: center;
        width: 2em;
        display: inline-block;
    }

    .accordion__title.active:before {
        content: "-";
    }

    .overflow-scrolling {
        overflow-y: none;
        height: 6em;
        padding: 1em 1em 0 1em;
  /* Warning: momemtum scrolling seems buggy on iOS 7  */
        -webkit-overflow-scrolling: touch;
    }

    .accordion__content {
        position: relative;
        overflow: hidden;
        padding: 0;
		margin-bottom: 1em;
    }

    .no-js .accordion__content {
        padding: 1em;
        overflow: auto;
        display: block;
    }

    .accordion__content:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 50px;
        content: '';
    }
}

.table-row {
    display: table-row;
}
.table-cell{
    display: table-cell;
}
.report-line {
    width: 100%;
    display: table;
    height:15%;
    padding-bottom: 12px;
    padding-top: 12px;
}

.search {
	webkit-transform-origin: 50% 0 0;
-ms-transform-origin: 50% 0 0;
	
transform-origin: 50% 0 0;
-webkit-animation-name:fadeInUpBig;
animation-name: fadeInUpBig;

-webkit-animation-fill-mode:both;
-ms-animation-fill-mode:both;
animation-fill-mode: both;
webkit-transform-style:preserve-3d;
	

-webkit-animation-delay:.2s;
animation-delay: .2s;
-webkit-transition-property:*;
transition-property: *;
	
-webkit-animation-duration:1400ms;
animation-duration: 1400ms;
	
-webkit-animation-timing-function: cubic-bezier(0.645,.045,.18,1);
animation-timing-function:cubic-bezier(0.645,.045,.18,1);

	}

.masonry {
max-width: 1532px;
width: 100%;
margin-left: auto;
margin-right: auto;

	}
	
.masonry:after {
  content: '';
  display: block;
  clear: both;
}


.masonry .grid-sizer {
  width:  2%;
}

.masonry .item{
  width:  30%;
  padding: 0px 16px;
    height: 360px;
  float: left;
  color: #231f20;
  border-top: 1px solid #eee;
}



.item.w2 { width:  40%; }

.item.h2 { height: 300px; }
.item.h3 { height: 330px; }
.item.h4 { height: 580px; }


.item.gigante {
  width: 180px;
  height: 180px;
}



svg {
    width:100%
}

.chart-container{
    height:85%;
    width:100%;
}
.chartbox {
    height: 100%;
}

body.label{
    background-color: rgba(0,0,0,0);
    display: table;
}

.innerlabel{
    display: table-cell;
    color:white;
    background-color: rgba(0,0,0,0);
    text-align: center;
    vertical-align: middle;
    padding:5px;
}


.search-details{
    position: fixed ! important;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
}
