/* Variables */
	/* Layout */
	$main-color:#87e0fd;
	$dark-color: darken($main-color, 25%);
	$highlight: darken($dark-color, 5%);
	/* Typography */
	$link-color:#fff;
	$font-size:18px;

/* Media Queries */
@mixin breakpoint($point) {
  @if $point == mid {
  	@media (min-width:600px) { @content; }
  }
  @else if $point == wide {
    @media (min-width: 1000px)  { @content; }
  }
  @else {
  	@media (min-width: $point)  { @content; }
  }
}

body {
	background:$main-color;
	font-size:$font-size;
}
.header {
	background:$dark-color;
	display:inline-block;
	width:100%;
}
h1 {
	font-size: 200%;
	margin: 15px 0;
}
.container {
	max-width:1030px;
	width:100%;
	margin:0 auto;
	background:$dark-color;
}
.navigation {
	.menu-toggle {
		display:block;
		text-align:right;
		padding:0 10px;
		cursor:pointer;
		@include breakpoint(mid) {
			display:none;
		}
	}
	.menu {
		padding:0;
		margin:0;
		display:none;
		@include breakpoint(mid) {
			display:block;
		}
		.menu-item {
			background:$dark-color;
			display:block;
			float:none;
			a {
				font-size:120%;
				padding:15px;
				display:block;
				text-decoration:none;
				border-bottom:3px solid $dark-color;
				text-align:center;
				@include transition(background 0.3s ease);
				@include link-colors($link-color);
				&:hover {
					background:$highlight;
					border-bottom:3px solid $highlight;
				}
			}
			.right-btn {
				font-size: 200%;
				padding: 3px 20px 9px;
			}
			@include breakpoint(mid) {
				float:left;
			}
			.currentCrossLink {
				font-weight:normal;
				@include breakpoint(mid) {
					border-bottom:3px solid;
				}
				&:hover {
					@include breakpoint(mid) {
						border-bottom:3px solid;
					}
				}
			}
		}
	}
	.open {
		display:block;
	}
}
.ls-wrapper {
	overflow:hidden;
	img {
		max-width:100%;
		height:auto;
	}
	.liquid-slider {
		width:100%;
		max-width:1920px!important;
		background:none;
		.panel {
			width:100%;
			.panel-wrapper {
				padding:0;
				@include breakpoint(mid) {
					padding:10px;
				}
			}
		}
		.inner {
			padding:20px;
		}
	}
}
.main-content {
	@include breakpoint(wide) {
		float:left;
		width:65%;
		margin-right:5%;		
	}
}
.sidebar {
	@include breakpoint(wide) {
		width:30%;
		float:right;
	}
}

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}